<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Suite">
	<test name="test1">
		<groups>
			<run>
				<include name="Smoke" />
			</run>
		</groups>
		<classes>
			<class name="MercuryTours.MercuryToursLoginTest" />
			<class name="SocialMedia.SocialMediaLoginTest" />
		</classes>
	</test>
</suite> <!-- Suite -->
